.favorites{
      padding-top: 50px;
}

.favorites__title{
 font-family: Roboto;
 font-style: normal;
 font-weight: bold;
 font-size: 32px;
 line-height: 42px; 
 text-align: center;
 letter-spacing: 0.5px;
 
 color: #212A2F;
}

.favorites__menu{
 display: flex;
 justify-content: center;
 column-gap: 132px;
}

.favorites__btn{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
background: transparent;
border: 0;
}